<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <p>на наших занятиях мы подробно изучаем все темы, обязательные для сдачи экзамена по русскому языку, а также прививаем ребенку полезные навыки (умение рассуждать, составлять тезисы и выстраивать правильную аргументацию своего ответа);
занятия проходят в просторных кабинетах в небольших группах по 5-9 человек, при этом Центр предоставляет все необходимые учебные пособия и дополнительную канцелярию;
программа выстраивается на индивидуальной основе – ребенок может самостоятельно выбрать, какую тему повторить еще раз, или сосредоточиться на более важном задании.</p>




    {% for c in Teachers %}
        <p>{{ c.first_name }}</p>
    {% endfor %}
</body>
</html>